<%= form_for(@article, url: articles_path) do %>
  <label>Article title:<br>
  <%= text_field_tag :title %><br>

  <label>Article Description</label><br>
  <%= text_area_tag :description %><br>

  <%= submit_tag "Submit Article" %>
<% end %>

<%= link_to 'All Articles', articles_path %>